{% extends 'ToilettagestructureBundle:Main:layout.html.twig' %}
{%block body%}
    <div class="articles ">
        {%for article in articles%}
            {%if article.tagName == 'accroche'%}
            <article class="article">
                <input type="hidden" name="id" value="{{article.id}}"/>
                <section class="art-content">{{article.artContent | raw }}</section>
                <article class="devanture">
                    <figure><img src="{{asset('bundles/toilettage/images/devanture_magasin.jpg')}}" /></figure>
                    <figure><img src="{{asset('bundles/toilettage/images/devanture_magasin2.jpg')}}" /></figure>
                </article>
            </article>
            {%else%}
            <article class="article">
                <input type="hidden" name="id" value="{{article.id}}"/>
                <article class="art-titre"><h2>{{article.artTitle}}</h2></article>
                <section class="art-content">{{article.artContent | raw }}</section>
            </article>
            {%endif%}
        {%endfor%}
    </div>
{%endblock%}
